---
title: R&D Toolchain Labs
subtitle: We are a team of experts that create new advanced tools for software development. Our mission is to enhance developers productivity and efficiency, product quality and security with cutting-edge solutions. We leverage the latest technologies and methodologies to drive industry evolution.
---
<div class="content">
    <header class="titleBlock">
        <img class="titleLogo" src="{{ "/assets/images/logo-full.png" | relative_url }}"/>
        <p class="subtitle">{{ page.subtitle }}</p>
    </header>
    <div class="overviewBlock">
        <div class="projectsRow">
{% for project in site.projects %}
            <a href="{{ project.url | relative_url }}" class="projectCard">
                <p class="cardTitle">{{ project.title }}</p>
                <div {% if project.category == 'productivity' %}class="label orange"{% endif %}
                     {% if project.category == 'quality' %}class="label green"{% endif %}>
                    {{project.category}}
                </div>
                <p class="cardDescription">{{ project.description }}</p>
            </a>
{% endfor %}
        </div>
        <div class="projectsRow">
        </div>
    </div>
</div>
