:root {
    --background: #fdfdfe;
    --white: white;
    --gray: #464646;
    --dark-gray: #333333;
    --dark-red: #990100;
    --red: #b90504;
    --orange: #e0970d;
    --green: #4dbb5f;
    --purple: #8979ff;
    --blue: #346fa2;
    --pink: #f14a7d;
    --dark-green: #2a6734;
    --light-blue: #3f92b0;
    --light-red: rgba(153, 1, 0, 0.2);
    --light-purple: rgba(137, 121, 255, 0.2);
    --light-orange: rgba(224, 151, 13, 0.2);
    --light-green: rgba(77, 187, 95, 0.2);

    --border: #dbdde1;
}
