@import "project";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: rgb(51,51,51);
  background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(153,1,0,1) 22%, rgba(224,151,13,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cecece;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: max-content;
  width: 100%;
  margin-top: 8px;
  align-content: stretch;
  align-self: stretch;
  align-items: stretch;
  background-color: var(--light-gray);
  overflow-y: hidden;
}

.pageBlock {
  display: flex;
  flex-direction: row;
  opacity: 0;
  animation: showUp 1.5s forwards;
}

.titleBlock {
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  width: 70%;
}

.titleLogo {
  width: 60%;
  align-self: center;
  margin-bottom: 20px;
}

.title {
  font-size: calc(1em + 2.5vw);
  color: var(--dark-gray);
  font-weight: 750;
}

.subtitle {
  font-size: 24px;
  font-weight: 200;
  color: var(--gray);
  margin-top: -10px;
}

.textBlock {
  align-self: start;
  padding: 50px 50px 50px 90px;
  color: var(--dark-gray);
  line-height: 1.5;
  font-size: 1.05em;
  width: 60%;
  text-align: left;
  border-bottom: var(--gray);
}

.infoCard {
  min-height: 100px;
  min-width: 100px;
  background: var(--light-gray);
  color: var(--dark-gray);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 14px -3px rgba(70, 70, 70, 0.12);
  word-wrap: break-word;
  overflow: hidden;
}

.overviewBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 97%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 30px;
  align-self: center;
  align-items: center;
  background-color: var(--dark-gray);
}

.projectsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectCard {
  box-sizing: border-box;
  flex: 1 1 266.66px;
  width: 300px;
  max-width: 640px;
  height: 350px;
  background-color: var(--light-gray);
  border-radius: 17px 17px 17px 17px / 20px 20px 20px 20px;
  text-decoration: none;
  margin: 27px;
  text-align: left;
  padding: 25px;
  line-height: 1.5;
  overflow: hidden;
  color: var(--dark-gray);
}

.cardTitle {
  font-size: 1.875rem;
  font-weight: 800;
}

.cardDescription {
  font-size: 1.15rem;
  font-weight: 100;
}

.projectCard:hover {
  transform: scale(1.025);
  transition: transform .3s;
}

.label {
  height: 17px;
  line-height:17px;
  width: max-content;
  padding: 10px;
  border-radius: 12px 12px 12px 12px / 10px 10px 10px 10px;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.line {
  background: linear-gradient(90deg, rgba(153, 1, 0, 1) 0%, rgba(224, 151, 13, 1) 30%, var(--light-gray) 100%);
  height: 2px;
  font-weight: 200;
  width: 98%;
  align-self: center;
  transition: background 1s linear;
}

.projectCard:hover .line {
  background: linear-gradient(90deg, rgba(153, 1, 0, 1) 0%, rgba(224, 151, 13, 1) 100%);
}

.orange {
  background-color: var(--light-orange);
  color: var(--orange);
}

.green {
  background-color: var(--light-green);
  color: var(--green);
}

.purple {
  background-color: var(--light-purple);
  color: var(--purple);
}