@import "project";
@import "table";
@import "code";
@import "microProject";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: var(--dark-gray);
  background: rgb(51, 51, 51);
  max-width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, var(--dark-red) 0%, var(--red) 22%, rgba(224, 151, 13, 1) 100%);
}

html {  max-width: 100%;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cecece;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: max-content;
  width: 100%;
  max-width: 100%;
  margin-top: 8px;
  align-content: stretch;
  align-self: stretch;
  align-items: stretch;
  background-color: var(--background);
}

.pageBlock {
  display: flex;
  flex-direction: row;
  opacity: 0;
  animation: showUp 1.5s forwards;
}

.titleBlock {
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  width: 70%;
  max-width: 1000px;
}

.titleBlock div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.titleLogo {
  width: 60%;
  align-self: center;
  margin-right: 30px;
}

.logoImg {
  width: 15%;
  align-self: center;
  margin-right: 30px;
  transition: transform .3s;
  animation: showUpLogo 1.2s linear;
}

.logoImg:hover {
  transform: rotate(440deg);
  transition: transform 1.3s ease;
}

@keyframes showUpLogo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(240deg) scale(1.15);
  }
  100% {
    transform: rotate(480deg) scale(1);
  }
}

.title {
  font-size: 3rem;
  color: var(--dark-gray);
  font-weight: 750;
  text-align: center;
  width: 100%;
}

.subtitle {
  font-size: 24px;
  font-weight: 200;
  color: var(--gray);
  margin-top: -10px;
}

.textBlock {
  align-self: start;
  padding: 50px 50px 50px 90px;
  color: var(--dark-gray);
  line-height: 1.5;
  font-size: 1.05em;
  width: 60%;
  text-align: left;
  border-bottom: var(--gray);
}

.overviewBlock {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 97%;
  border-radius: 14px;
  margin-top: 30px;
  align-self: center;
  align-items: center;
  background-color: var(--dark-gray);
}

.projectsRow {
  width: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectCard {
  box-sizing: border-box;
  flex: 1 1 25vw;
  min-width: 340px;
  height: 400px;
  background-color: var(--background);
  border-radius: 17px 17px 17px 17px / 20px 20px 20px 20px;
  text-decoration: none;
  margin: 27px;
  text-align: left;
  padding: 25px;
  line-height: 1.5;
  overflow: hidden;
  color: var(--dark-gray);
}

.cardTitle {
  position: relative;
  font-size: 1.875rem;
  font-weight: 800;
}

.cardDescription {
  position: relative;
  height: 35%;
  font-size: 1.15rem;
  font-weight: 320;
}

.projectCard:hover {
  transform: scale(1.025);
  transition: transform .3s;
}

.label {
  height: 17px;
  line-height:17px;
  width: max-content;
  padding: 10px;
  border-radius: 12px 12px 12px 12px / 10px 10px 10px 10px;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.line {
  background: linear-gradient(90deg, var(--red) 0%, rgba(224, 151, 13, 1) 30%, var(--background) 100%);
  height: 3px;
  font-weight: 200;
  width: 100%;
  left: 5px;
  transition: background 1s linear;
}

.projectCard:hover .line {
  background: linear-gradient(90deg, rgba(153, 1, 0, 1) 0%, rgba(224, 151, 13, 1) 100%);
}

main p img {
  max-width: 100%;
}

.orange {
  background-color: var(--light-orange);
  color: var(--orange) !important;
}

.green {
  background-color: var(--light-green);
  color: var(--green) !important;
}

.purple {
  background-color: var(--light-purple);
  color: var(--purple) !important;
}

.red {
  background-color: var(--light-red);
  color: var(--red) !important;
}

.outlineRed {
  color: var(--red) !important;
  background: none;
  border: solid 1px var(--red);
}

.outlineGreen {
  color: var(--green) !important;
  background: none;
  border: solid 1px var(--green);
}

.outlineBlue {
  color: var(--blue) !important;
  background: none;
  border: solid 1px var(--blue);
}

.tag {
  font-size: 1.15rem;
  color: var(--gray);
  opacity: .65;
  margin-right: 10px;
  margin-bottom: 0;
}

.tagsContainer {
  height: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: bottom;
}

footer {
  height: 100px;
  background: var(--background);
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  color: var(--gray);
  line-height: 20px;
  padding-top: 50px;
}

footer img {
  width: 30px;
  position: relative;
  top: 7px;
}

.transform180 {
  transform: rotateY(180deg);
}