.microProjectsContainer {
  width: 97%;
  align-self: center;
  /*width: 95vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  border-left: solid 3px;
  border-image: linear-gradient(to bottom, var(--light-purple), var(--light-red), var(--light-orange)) 1;
  margin-left: 5vw;
  overflow-x: hidden;*/

}
.microProjectBlock {
  width: 100%;
  min-height: 200px;
  max-height: max-content;
  border-bottom: 1px solid var(--border);/*
  width: 85vw;
  min-width: 85vw;
  max-width: 700px;
  align-self: center;
  border: solid 1px var(--border);
  border-radius: 14px;
  margin-top: 10px;
  margin-left: 5vw;
  margin-right: 0;*/
}

.microProjectBlock div {
  margin: 40px 40px 20px;
  color: var(--gray);
}

.microProjectTitle {
  font-size: 1.875rem;
  font-weight: 700;
}

.microProjectSubtitle {
  font-size: 1.10rem;
  font-weight: 350;
  margin-bottom: 10px;
}

.microProjectContent {
  font-size: 1.12rem;
  font-weight: 350;
  color: var(--dark-gray);
}

.microProjectContent p img {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;

}

details {
  line-height: 30px;
  text-align: justify;
}

summary:hover {
  cursor: pointer;
}