.projectHeader {
  display: flex;
  flex-direction: column;
  margin: 10% 10% 0;
  min-height: 90vh;
  max-height: max-content;
  width: 80%;
  max-width: 1000px;
  align-self: center;
  background: linear-gradient(to right, var(--background) 20%, transparent);
  border-bottom: solid 1px var(--border);
}

.projectTitle {
  font-size: 6rem;;
  color: var(--dark-gray);
  font-weight: 750;
  animation: showUpTranslateLeft 1.5s forwards;
}

.projectSubtitle {
  font-size: 1.5rem;
  font-weight: 350;
  color: var(--gray);
  display: flex;
  flex-direction: row;
}

.projectHeaderRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectTitleColumn {
  box-sizing: border-box;
  color: var(--dark-gray);
  font-size: 20px;
  font-weight: 400;
  margin: 2%;
  flex: 1 1 200px;
  animation: showUpTranslateDown 1.5s forwards;
}

.projectTitleColumn div {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 350;
  color: var(--gray);
}

.projectTitleColumn div a {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 22px;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showUpTranslateDown {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(8px);
    opacity: 1;
  }
}

@keyframes showUpTranslateLeft {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(11px);
    opacity: 1;
  }
}

.orangeFigure {
  content: '';
  position: absolute;
  width: 400px;
  height: 500px;
  margin-left: -90px;
  margin-top: -390px;
  background: radial-gradient(circle 150px, var(--light-orange) 50%, transparent);
  border-radius: 30% 70% 71% 29% / 30% 30% 70% 70%;
  animation: showUpTranslateFigureTop 1.5s forwards;
}

.redFigure {
  content: '';
  position: absolute;
  width: 400px;
  height: 500px;
  margin-left: -410px;
  margin-top: -140px;
  background: radial-gradient(circle 120px, var(--light-red) 20%, transparent);
  border-radius: 30% 70% 28% 72% / 44% 30% 70% 56% ;
  animation: showUpTranslateFigureLeft 1.5s forwards;
  background-blend-mode: multiply;
}

.purpleFigure {
  content: '';
  position: absolute;
  width: 400px;
  height: 500px;
  margin-top: -100px;
  background: radial-gradient(circle 100px, var(--light-purple) 50%, transparent);
  border-radius: 30% 70% 68% 32% / 44% 25% 75% 56% ;
  animation: showUpTranslateFigureRight 1.5s forwards;
  background-blend-mode: multiply;

}

@keyframes showUpTranslateFigureLeft {
  0% {
    opacity: .8;
  }
  100% {
    transform: translateX(150px);
    opacity: 1;
  }
}

@keyframes showUpTranslateFigureTop {
  0% {
    opacity: .8;
  }
  100% {
    transform: translateY(130px);
    opacity: 1;
  }
}

@keyframes showUpTranslateFigureRight {
  0% {
    opacity: .8;
  }
  100% {
    transform: translateX(-90px);
    opacity: 1;
  }
}

.homeLink {
  width: 50px;
  position: absolute;
  left: 5vw;
  top: 8vh;
  z-index: 100;
}

.homeLinkImg {
  width: 50px;
  position: absolute;
  z-index: 100;
}

.homeLink:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.githubLink {
  width: 50px;
  position: absolute;
  right: 5vw;
  top: 8vh;
  z-index: 100;
}

.siteLink {
  width: 50px;
  position: absolute;
  right: 10vw;
  top: 8vh;
  z-index: 100;
}

.siteLinkImg {
  height: 40px;
  position: absolute;
  z-index: 100;
}

.projectContent {
  margin-top: 0;
  position: relative;
}

.projectContent h1 {
  font-size: 3.5rem;
  padding-top: 1.2em;
  font-weight: 700;
}

.projectContent h2 {
  font-size: 2.8rem;
  font-weight: 650;
  padding-top: 1em;
}

.projectContent h3 {
  font-size: 2rem;
  padding-top: 1.2em;
  font-weight: normal;
  margin-bottom: 32px;
}

.projectContent h4 {
  font-size: 32px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 25px;
}

.projectContent p, li, a, ul {
  font-size: 18px;
  line-height: 1.6em;
}

main {
  margin-right: 5%;
  margin-left: 7%;
  width: 95%;
  max-width: 1000px;
  align-self: center;
  position: relative;
  animation: showUpTranslateDown 1.5s forwards;
}

.language {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--dark-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 0 !important;
  align-items: center;
}

.reason {
 margin-top: 15px;
}

.circle {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px 5px 0;
  background: var(--pink);
}

.java {
  background: var(--orange);
}

.python {
  background: var(--blue);
}

.cpp {
  background: var(--pink);
}

.kotlin {
  background: var(--green);
}

.typescript {
  background: var(--light-blue);
}

.javascript {
  background: var(--dark-red);
}

.go {
  background: var(--light-red);
}

.c {
  background: var(--dark-green);
}

.projectTitleColumn .label {
  font-size: 15px;
}