---
---
<div class="content">
  <div class="microProjectsContainer">
    <div class="microProjectTitleBlock">
      <div class="line"></div>
      <div class="title">Moscow NLP Team Projects</div>
      <div class="line transform180"></div>
    </div>
    {% for project in site.moscowProjects %}
    <div class="microProjectBlock">
      <div class="microProjectTitle">{{project.title}}</div>
      <div class="row">
        {% for tag in project.tags %}
        <p class="tag">#{{tag}}</p>
        {% endfor %}
      </div>
      <div class="microProjectContent">
        <details>
          <summary>{{project.summary}}</summary>
          {{project.content}}
        </details>
        {%if project.github %}
        <a href={{project.github}}>
          <img src="{{ "/assets/images/github_icon.png" | relative_url }}"/>
        </a>
        {% endif %}
        {%if project.presentation %}
        <a href={{project.presentation | relative_url}}>
          <img src="{{ "/assets/images/pdf.png" | relative_url }}"/>
        </a>
        {% endif %}
        {%if project.website %}
        <a href={{project.website}}>
          <img src="{{ "/assets/images/home.png" | relative_url }}"/>
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>